Why learn python
1)very easy to learn  2) faster code development as no compliation time  3) Used in DS , ml, scientific computing. 4) dropbox,Quora,youtube,surveymonkey are powered by python.
JAVA
FileReaderfileReader=new FileReader(filename);
Buffered Reader bufferedReader= newBufferedReader(fileReader);
while(line = bufferedReader.readline())!=null){
System.out.println(line);
}
bufferedReader.close();

python 
with open (fileName)as f:
for line in f:
   printf(line);

Exercise: Python Variables
Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

Store your first, middle and last name in three different variables and then print your full name using these variables

Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index
Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,
1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this
You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

Using following list of cities per country,
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"
Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
Ask user to enter his fasting sugar level
If it is below 80 to 100 range then print that sugar is low
If it is above 100 then print that it is high otherwise print that it is normal

After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
Using for loop figure out how many times you got heads

Print square of all numbers between 1 to 10 except even numbers
Your monthly expense list (from Jan to May) looks like this,
expense_list = [2340, 2500, 2100, 3100, 2980]
Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

Lets say you are running a 5 km race. Write a program that,

Upon completing each 1 km asks you "are you tired?"
If you reply "yes" then it should break and print "you didn't finish the race"
If you reply "no" then it should continue and ask "are you tired" on every km
If you finish all 5 km then it should print congratulations message
Write a program that prints following shape

*
**
***
****
*****

Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
area = (1/2)*base*height
Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,
rectangle area=length*width
If no shape is supplied then it should take triangle as a default shape

Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,
*
**
***
if input is 4 then it should print

*
**
***
****
Basically number of lines it prints is equal to that number. (Hint: you need to use two for loops)

We have following information on countries and their population (population is in crores),

Country	Population
China	143
India	136
USA	32
Pakistan	21
Using above create a dictionary of countries and its population
Write a program that asks user for three type of inputs,
print: if user enter print then it should print all countries with their population in this format,
china==>143
india==>136
usa==>32
pakistan==>21
add: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in our dictionary and print it
remove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!
query: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.
Solution

You are given following list of stocks and their prices in last 3 days,

Stock	Prices
info	[600,630,620]
ril	[1430,1490,1567]
mtl	[234,180,160]
Write a program that asks user for operation. Value of operations could be,
print: When user enters print it should print following,
info ==> [600, 630, 620] ==> avg:  616.67
ril ==> [1430, 1490, 1567] ==> avg:  1495.67
mtl ==> [234, 180, 160] ==> avg:  191.33
add: When user enters 'add', it asks for stock ticker and price. If stock already exist in your list (like info, ril etc) then it will append the price to the list. Otherwise it will create new entry in your dictionary. For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.

Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area, circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them

poem.txt contains famous poem "Road not taken" by poet Robert Frost. You have to read this file in your python program and find out words with maximum occurance.
stocks.csv contains stock price, earnings per share and book value. You are writing a stock market application that will process this file and create a new file with financial metrics such as pe ratio and price to book ratio. These are calculated as,
pe ratio = price / earnings per share
price to book ratio = price / book value

Create a sample class named Employee with two attributes id and name
employee :
    id
    name
object initializes id and name dynamically for every Employee object created.

emp = Employee(1, "coder")
Use del property to first delete id attribute and then the entire object

create inheritance using animal Dog relation.
for example, 
    Animal and Dog both has same habitat so create a method for habitat 
use super() constructor for calling parent constructor.
class Animal:
    
class Dog(Animal):
    super()-it refers Animal class,now you can call Animal's methods.

Real Life Example :

Create multiple inheritance on teacher,student and youtuber.
Q. if we have created teacher and now one student joins master degree with becoming teacher then what??

Ans :  just make subclass from  teacher so that student will become teacher
Now student is teacher as well as youtuber then what???
-just use multiple inheritance for these three relations

Create a custom exception AdultException.

Create a class Person with attributes name and age in it.

Create a function get_minor_age() in the class. It throws an exception if the person is adult otherwise returns age.

Create a function display_person() which prints the age and name of a person.

let us say,

if age>18 
    he is major
else
    raise exception

create cusomException named ismajor and raise it if age<18.

Create an iterator for fibonacci series in such a way that each next returns the next element from fibonacci series.
The iterator should stop when it reaches a limit defined in the constructor.

Print Square Sequence using yield
    Create Generator method such that every time it will returns a next square number

for exmaple : 1 4 9 16 ..

create any set anf try to use frozenset(setname)

Find the elements in a given set that are not in another set

    set1 = {1,2,3,4,5}
    set2 = {4,5,6,7,8}

    diffrence between set1 and set2 is {1,2,3}

Create a Dictionary which contains the Binary values mapping with numbers found in the below integer and binary and save it in binary_dict.
Example :

    integer = [0, 1, 2, 3, 4]
    binary = ["0", "1", "10", "11", "100"]
    binary_dict = {0:"0", 1:"1", 2:"10", 3: "11", 4:"100"}
Create a List which contains additive inverse of a given integer list. An additive inverse a for an integer i is a number such that:
a + i = 0
Example:

integer = [1, -1, 2, 3, 5, 0, -7]
additive_inverse = [-1, 1, -2, -3, -5, 0, 7]
Create a set which only contains unique sqaures from a given a integer list.
integer = [1, -1, 2, -2, 3, -3]
sq_set = {1, 4, 9}